* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  max-width: 100%;
}

.container {
  width: 70%;
  margin: auto;
}

.photo {
  width: 100%;
  margin: auto;
}

body {
  .title {
    font-family: "Edu TAS Beginner", cursive;
    font-weight: bolder;
  }

  h1 {
    font-size: 64px;
  }

  p {
    font-size: 14px;
    font-weight:400;
    font-style: oblique;
  }

  .date{
    font-family: "Sometype Mono", monospace;
  }
}

header {
  background-image: url(./img/wall.png);
  background-size: 40%;
}

main {
  background-image: url(./img/cork.png);
  background-size: 50%;
}

